*.pyc
__pycache__
*.pytest_cache/
*.py[cod]
*$py.class

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.cover

.DS_Store
database.db
ipython-notebooks/
instance/config.cfg
instance/data

webapp/static/data
webapp/migrations
migrations
