{% extends "base.html" %}
{% import 'macros/form.html' as form_macro with context%}
{% block title %}Model Builder{% endblock %}
{% block body %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <div id="flash-messages" class="row sm-margin-top">
        {% for category, msg in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ msg }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <p>Please select model attributes and file</p>
    <form method="POST" enctype="multipart/form-data">
        {{ final.hidden_tag() }}
        {% for f in final.data_form.form if f.widget.input_type != 'hidden'%}
            {{ form_macro.form_basic(f) }}
        {% endfor %}
        <div class="col-md-10">
            <div class="row">
                <div class="col">
                    {{ form_macro.form_basic(final.model_attribute_form.hypothesis) }}
                </div>
                <div class="col">
                    {{ form_macro.form_basic(final.model_attribute_form.regularizer) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_macro.form_basic(final.model_attribute_form.cost_function) }}
                </div>
                <div class="col">
                    {{ form_macro.form_basic(final.model_attribute_form.algorithm) }}
                </div>
            </div>
            <div>
                {% for f in final.hyperparam_form.form if f.widget.input_type != 'hidden'%}
                    {{ form_macro.form_basic(f) }}
                {% endfor %}
            </div>
            {{ form_macro.form_basic(final.submit) }}
        </div>
    </form>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
  $('input[type=radio][name=model_attribute_form-algorithm]').change(function() {
        if (this.value == '3') {
          $("#hyperparam_form-learning_rate").val('');
          $("#hyperparam_form-learning_rate").prop('disabled', true);
        }
        else {
          $("#hyperparam_form-learning_rate").prop('disabled', false);
        }
    });
  $('input[type=radio][name=model_attribute_form-regularizer]').change(function() {
        if (this.value == "1") {
          $("#hyperparam_form-regularizer_weight").val('');
          $("#hyperparam_form-regularizer_weight").prop('disabled', true);
        }
        else {
          $("#hyperparam_form-regularizer_weight").prop('disabled', false);
        }
    });
});
</script>
{% endblock %}
